{% extends 'base.html.twig' %}

{% block title %}Quiz start page{% endblock %}

{% block body %}
    Well done {{ player }}! <br/>
    your score is {{ score }}<br/>
    <br/>
    <br/>
    <a href="/quiz">Try again</a>
{% endblock %}
